MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=marquee
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=mysql;Database=marquee;User=root;Password=change_me;
JWT__KEY=change_me_to_at_least_32_characters_for_hs256
